@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

#toto {
  color: #05c1ab;
}

.nav-item .nav-link {
  color: #302b2b !important;
}

#logo {
  height: 40px;
}

header {
  position: -webkit-sticky;
  top: 0px;
  z-index: 2;
  height: 150px;
}
header #bandeau {
  width: 100%;
  height: 150px;
  background-image: url("/images/fond.svg");
  background-color: rgb(138, 201, 201);
  background-repeat: no-repeat;
  background-size: cover;
}

#bordure {
  position: sticky;
  top: 66px;
  z-index: 4;
  width: 100%;
  height: 20px;
  background-image: url("/images/bordure.svg");
  background-color: #4B8178;
  background-repeat: repeat;
  background-size: auto;
  box-shadow: 0px 5px 10px 7px rgba(59, 56, 56, 0.311);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(118, 180, 175, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(118, 180, 175);
  border-width: 2px;
}

h1 {
  margin-top: 20px;
  color: #302b2b;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 3px;
}

p {
  color: rgb(39, 39, 39);
  font-size: 1em;
  text-align: justify;
}

#bg {
  width: 100%;
  background-color: #efe7d1;
  justify-content: center;
  display: flex;
}

#main {
  background-color: white;
  width: 85%;
  padding: 170px 50px 30px 50px;
}

#logo-cont {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
#logo-cont img {
  height: 100px;
}

#btn, .btn-submit {
  margin: 0 auto;
  background-color: #FEB700;
  width: 200px;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transform: all 0.6 ease-out;
  box-shadow: 0px 0px 3px 2px rgba(165, 154, 154, 0.311);
}
#btn p, .btn-submit p {
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.btn-submit {
  background-color: #4B8178;
}

#inserer-ligne {
  background-color: #FEB700 !important;
}

.btn-submit:hover {
  background-color: #7fc0b5;
  box-shadow: 0px 0px 4px 2px rgba(64, 60, 60, 0.187);
  transform: scale(1.1);
  color: white;
  z-index: 0;
}

.btn-annuler {
  background-color: #ca4848;
  color: white;
  padding: 10px 10px;
}

.btn-annuler:hover {
  background-color: #ec7575;
  box-shadow: 0px 0px 4px 2px rgba(64, 60, 60, 0.187);
  transform: scale(1.1);
  color: white;
  z-index: 0;
}

#recette {
  padding: 20px 50px;
}
#recette .btn-submit {
  margin-top: 0;
}

.formulaires {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 5px 4px 6px rgba(68, 68, 68, 0.132);
}
.formulaires .btn {
  margin: 30px 10px 0px 0px;
}
.formulaires label {
  margin-top: 20px;
}
.formulaires hr {
  border: 3px solid #FEB700;
  opacity: 100% !important;
}

#imgIng {
  height: 100px;
}

#options {
  height: 60px;
  background-color: #84cec1;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  box-shadow: 0px 0px 3px 2px rgba(165, 154, 154, 0.311);
  display: flex;
  padding: 20px 0px;
}
#options .btn {
  margin: 0 auto;
  z-index: 0;
  display: flex;
  transform: all 0.6 ease-out;
}
#options .btn p {
  padding-top: 15px;
  padding-left: 10px;
  text-align: left;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
#options .btn p:hover {
  color: #fde4a5;
}
#options .btn img {
  align-self: center;
  width: 35px;
}
#options #search {
  margin: 0 auto;
  border: 5px solid #FEB700;
  border-radius: 30px;
  width: 250px;
  padding: 8px;
}

.conteneur-cr {
  position: relative;
  background-color: #b2c1bf;
  width: 60%;
}
.conteneur-cr form {
  padding: 10px;
}
.conteneur-cr .custom-file {
  background-color: white;
}

#all, .card {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 90%;
  box-shadow: 0px 5px 4px 6px rgba(68, 68, 68, 0.132);
}
#all .img-thumbnail, .card .img-thumbnail {
  width: 45px;
  height: 45px;
  border: none;
}
#all th, .card th {
  padding: 20px 0px;
}
#all .btn, .card .btn {
  margin-right: 20px;
  background-color: #4B8178;
  padding: 9px 3px;
}
#all .btn:hover, .card .btn:hover {
  background-color: #7fc0b5;
  box-shadow: 0px 0px 4px 2px rgba(64, 60, 60, 0.187);
  transform: scale(1.1);
  z-index: 0;
}
#all .edit, .card .edit {
  height: 25px;
  margin: 1px 5px;
}
#all .del, .card .del {
  height: 25px;
  margin: 1px 5px;
}
#all .btn-del, .card .btn-del {
  background-color: #ca4848;
}
#all .btn-del:hover, .card .btn-del:hover {
  background-color: #ec7575;
}
#all .btn-up, .card .btn-up {
  background-color: #72c9ba;
}

#cards-cont {
  display: flex;
  margin-bottom: 80px;
}
#cards-cont .row {
  justify-content: center;
}

.card-img-top {
  height: 200px;
  border: 5px solid #7fc0b5;
}

.card {
  margin: 8px;
}
.card h6 {
  margin-top: 10px;
}
.card .btn-submit {
  width: 140px;
}
.card hr {
  margin: 3px 0px 15px 0px;
}

footer {
  background-color: #4B8178;
  padding-top: 30px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
footer a:hover {
  color: #FEB700;
}
footer div {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  justify-content: center;
}

#end-footer {
  background-color: #005248;
  color: #FEB700;
  font-weight: 600;
}
#end-footer a {
  color: #FEB700;
}

@media screen and (max-width: 1500px) {
  .nav-item {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    padding: 20px 70px !important;
  }
}
@media screen and (max-width: 1100px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
}
.sr-only {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 1em;
    padding: 5px !important;
  }
  h1 {
    margin-top: 0px;
    font-size: 1.5em;
  }
  #main {
    width: 90%;
    min-height: 110vh;
  }
  section p {
    text-align: left;
    font-size: 0.8em;
  }
  #options {
    background-color: white;
    box-shadow: none;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 10px;
  }
  #options .btn {
    border-radius: 20px;
    background-color: #74cbbd;
    margin-bottom: 20px;
  }
  footer div {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0 !important;
  }
  #all {
    padding: 10px !important;
    border-radius: 10px;
  }
  #all td, #all th {
    width: 10%;
    font-size: 0.7em;
  }
  #all .img-thumbnail, #all .btn {
    width: 35px;
    height: 35px;
  }
  #all #del, #all #edit {
    height: 20px;
  }
  #main {
    width: 100%;
    padding: 10px;
  }
  #logo {
    margin: 5px 0px;
    height: 30px;
  }
  h1 {
    font-size: 1.6em;
  }
  #burger span {
    width: 23px;
  }
}/*# sourceMappingURL=main.css.map */